
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8">

    <h2>Hakkımızda</h2>

    <br />
    <br />
    <div>
        <p> <b>InonuBlog.com</b>; İnönü Üniversitesi Bilgisayar Mühendisleri öğrencilerinin ve adayların online ortamda bir araya gelmesini sağlayarak öğrencilerin teknolojik haberlerden ve yazılımsal konularda kaynak bulmasını sağlayan bir blog sitesidir. </p>
        <p> Kullanımı kolay, hızlı altyapısı ve sadece İnönü Üniversitesi Bilgisayar Mühendisleri Öğrencilerine hitap etmeyerek; üniversite öğrencileri, teknoloji meraklıları ve yazızlım eğitimcilerinin ihtiyacına yönelik oluşu ile diğer blog sitelerinden sıyrılıp farkını ortaya koymak istemektedir.</p>
        <p> <b>InonuBlog.com</b> olarak hedefimiz daha geniş kitlelere ulaşarak blog sitemizin büyümesine katkı sağlamaktır.</p>
        <p> <b>InonuBlog.com</b>; Doğu’nun Paris’i, Batı’nın ise her geçen gün ilgisini üzerine çektiği Malatya şehrimizdeki İnönü Üiversitesi'nde hizmet vermektedir. Mesai saatlerimiz içerisinde; her türlü soru, görüş ve önerileriniz için bize ulaşabilirsiniz. </p>
        <br />
    </div>

</div>


    
