
@{
    ViewBag.Title = "İletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-8">
    
    <h2>İletişim</h2>
    <br />
    <br />

    <img class="img-responsive" src="~/Content/iletisim.jpg" />
</div>